<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../style.css" />
    <title>Spa - Lunarya</title>
</head>
<body>
<header>
    <nav>
        <img src="../imagenes/Lunarya.png" alt="Logo hotel" class="logo">
    <ul class="menu">
        <li><a href="../index.html">Inicio</a></li>
    
        <li class="submenu">
            <a href="./servicios.html">Servicios</a>
        <ul>
            <li><a href="./gastronomia.html">Gastronomía</a></li>
            <li><a href="./spa.html">Spa</a></li>
        </ul>
        </li>
    
        <li class="submenu">
        <a href="./habitaciones.html">Habitaciones</a>
        <ul>
            <li><a href="./deluxe.html">Deluxe</a></li>
            <li><a href="./juniorSuite.html">Junior Suite</a></li>
            <li><a href="./executiveSuite.html">Executive Suite</a></li>
        </ul>
        </li>
    
        <li><a href="./contacto.html">Contacto</a></li>
        <li><a href="./reservar.html">Reservar</a></li>
    </ul>
    </nav>
</header>

<main>

        <div class="slider">
            <h1>GASTRONOMIA 5 ESTRELLAS</h1>
            <h2>Disfruta de todas nuestras gastronomias estacionales, para sorprender a los mas exigentes paladares</h2>
            <img src="../imagenes/SliderGastronomia.png" alt="Gastronomía hotel">
        </div>

<div class="card-servicio">

    <div class="servicio">
        <figure class="servicio-img">
            <img src="../imagenes/CardComida.jpg" alt="Comida">
        </figure>
        <div class="servicio-contenido">
            <h3 class="servicio-titulo">BAR</h3>
            <p class="servicio-text">
                Nuestro lobby-Bar es un amplio espacio para disfrutar en cualquier momento del día.
            </p>
        </div>
    </div>

    <div class="servicio">
        <figure class="servicio-img">
            <img src="../imagenes/room-service.jpg" alt="Room service">
        </figure>
        <div class="servicio-contenido">
            <h3 class="servicio-titulo">ROOM SERVICE</h3>
            <p class="servicio-text">
                Durante toda la estadía vas a poder solicitar toda nuestra propuesta gastronómica en la comodidad de tu habitación.
            </p>
        </div>
    </div>

    <div class="servicio">
        <figure class="servicio-img">
            <img src="../imagenes/CardSpa.jpg" alt="Spa">
        </figure>
        <div class="servicio-contenido">
            <h3 class="servicio-titulo">PILETA</h3>
            <p class="servicio-text">
                Disfrutá de un momento en nuestra pileta, con vista al Río Paraná y a la ciudad de Rosario. No olvides probar el hidromasaje.
            </p>
        </div>
    </div>

</div>


    <div>
        <section>
            <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.8676630166015!2d-60.6463939235566!3d-32.954503173590005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab11d0eb49c3%3A0x11f1d3d54f950dd0!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%20%7C%20Facultad%20Regional%20Rosario!5e0!3m2!1ses-419!2sar!4v1747849829692!5m2!1ses-419!2sar"
            width="100%"
            height="400"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        </section>
    </div>
</main>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <img src="../imagenes/Lunarya.png" alt="Lunarya" width="250" />
            <p>LUNARYA · SPA & HOTEL</p>
        </div>
        <div class="footer-section">
            <h4>CONTACTO</h4>
            <p>341 123 4567</p>
            <p>+54 9 3416-905-123</p>
            <p>reservas@Lunarya.com.ar</p>
        </div>
        <div class="footer-section">
            <h4>DIRECCIÓN</h4>
            <p>Zeballos 1341, Rosario - Argentina</p>
        </div>
        <div class="footer-section">
            <h4>RED SOCIAL</h4>
            <p>@Lunaryahotek</p>
        </div>
    </div>
</footer>

</body>
</html>