<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gracias</title>
  <link rel="stylesheet" href="../style.css" />
</head>
<body class="gracias_body">
  <div class="mensaje">
    ¡Gracias por contactarse! Le responderemos a la brevedad.
  </div>

  <script>
    setTimeout(() => {
      window.location.href = "contacto.html"; // Cambiá por la ruta correcta
    }, 2000); // 2 segundos
  </script>
</body>
</html>